<h1>Productos</h1>

<div *ngFor= 'let producto of productos'>
  <h3>
    <a [title]="'Detalles' + producto.name "  [routerLink]="['/products', producto.id]">
   {{producto.name}}
  </a>
  <p [title]="producto.description ">
  Descripción: {{producto.description}}

  </p>

  <button type="button" (click)="compartir()"> Compartir </button>

  <app-product-alerts
[producto]="producto" (notify)="onNotify()"></app-product-alerts>

  </h3>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->